<body style="background-color:lightgreen">
<center>
<h1>Listing user</h1>
<table border="solid">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
	</tr>
	<tr>
		<td><%= @user.firstname %></td>
		<td><%= @user.lastname %></td>
		<td><%= @user.email %></td>
	

	<td><%= link_to "Edit", user_edit_path(@user)%> </td>
		<td><%= link_to "Destroy", user_destroy_path(@user), method: :delete, data: {
		confirm: "Are you sure?"
		}%> </td>
	</tr>

</table>
</center>
</body>